<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 399,99"
    gameTitle="BattleField 1"
    gameType="PS5"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="PS4"
    gamePrice="R$ 250,00"
    gameTitle="BattleField 4"
    gameType="PC"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 280,99"
    gameTitle="Assassin's Creed"
    gameType="PS5 | PC"
  ></app-card>
</div>
