<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="PlayStation Store Logo"
      width="140px"
      height="32px"
    />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCOXXIo5He9I0tzkUOodRPsw"
          >YOUTUBE</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/rafaelrmaier/"
          >LINKEDIN</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/RafaelMaier94">GITHUB</a>
      </li>
    </ul>
  </div>
</div>
